<!doctype html>
{% load staticfiles %}
<html lang=en">
  <head>
    {% block base %}<base href="/">{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}My Game Player{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %} {% endblock %}
  </head>
  <body class="{{ body_class }}">

    {% block content %}
    <p>Hello World!</p>
    {% endblock %}

    {% block bodyscripts %}{% endblock %}
  </body>
</html>
